In [1]:
import matplotlib.pyplot as plt

In [2]:
import geopandas as gpd

In [3]:
import pandas as pd

In [4]:
#import fiona

In [5]:
from pi_map import Mapper

In [6]:
mpr=Mapper()

In [7]:
y,yhat,diff=mpr.build_prediction_and_error_dfs(rebuild=0)

In [8]:
diff

                                                                        yhat_0  \
species        HUC12        COMID    estimator
ameiurus melas 010802010501 6778513  logistic-reg                         -0.0
                                     linear-svc                           -0.0
               010802010503 6778573  logistic-reg                         -1.0
                                     linear-svc                           -0.0
               010802010602 6778961  logistic-reg                         -1.0
...                                                                        ...
zzzno fish     181002010205 22592131 logistic-reg                         -0.0
                                     linear-svc                            1.0
                                     rbf-svc                               1.0
                                     gradient-boosting-classifier          1.0
                                     hist-gradient-boosting-classifier     1.0

                                                                        yhat_1
species        HUC12        COMID    estimator
ameiurus melas 010802010501 6778513  logistic-reg                         -0.0
                                     linear-svc                           -0.0
               010802010503 6778573  logistic-reg                         -0.0
                                     linear-svc                           -0.0
               010802010602 6778961  logistic-reg                         -0.0
...                                                                        ...
zzzno fish     181002010205 22592131 logistic-reg                         -0.0
                                     linear-svc                           -0.0
                                     rbf-svc                              -0.0
                                     gradient-boosting-classifier         -0.0
                                     hist-gradient-boosting-classifier    -0.0

[538962 rows x 2 columns]

In [9]:
agg_prediction_spec_df=mpr.pr.build_aggregate_predictions_by_species(rebuild=0)

In [10]:
agg_prediction_spec_df.head(60)

                                                    y  yhat_0  yhat_1
species           estimator HUC12        COMID
etheostoma mariae y_train   030402040808 9113812  0.0     NaN     NaN
                            030402010101 9164090  0.0     NaN     NaN
                            030402030202 9125600  0.0     NaN     NaN
                            030402010202 9169462  0.0     NaN     NaN
                            030402040302 9110340  1.0     NaN     NaN
                            030402010102 9164108  0.0     NaN     NaN
                            030402011202 9179526  0.0     NaN     NaN
                            030402030302 9129546  0.0     NaN     NaN
                            030402030201 9125542  1.0     NaN     NaN
                            030402030205 9125742  1.0     NaN     NaN
                            030402030101 9125376  1.0     NaN     NaN
                            030402031401 9134066  0.0     NaN     NaN
                            030402031103 9131446  0.0     NaN     NaN
                            030402030206 9125840  1.0     NaN     NaN
                            030402011202 9179728  0.0     NaN     NaN
                            030402010710 9173814  0.0     NaN     NaN
                            030402010201 9169408  0.0     NaN     NaN
                            030402010410 9167744  0.0     NaN     NaN
                            030402030103 9125528  0.0     NaN     NaN
                            030402010201 9165476  0.0     NaN     NaN
                            030402040103 9108826  1.0     NaN     NaN
                            030402010303 9167552  0.0     NaN     NaN
                            030402031205 9132658  0.0     NaN     NaN
                            030402010301 9165154  0.0     NaN     NaN
                            030402010305 9165758  0.0     NaN     NaN
                            030402030901 9128028  0.0     NaN     NaN
                            030402010506 9166156  0.0     NaN     NaN
                            030402010102 9165160  0.0     NaN     NaN
                            030402040101 9109734  1.0     NaN     NaN
                            030402040809 9116090  0.0     NaN     NaN
                            030402030102 9125326  1.0     NaN     NaN
                            030402040301 9109780  1.0     NaN     NaN
                            030402010101 9164008  0.0     NaN     NaN
                            030402030201 9125896  1.0     NaN     NaN
                            030402010604 9171030  0.0     NaN     NaN
                            030402040602 9111040  0.0     NaN     NaN
                            030402040303 9109774  0.0     NaN     NaN
                            030402030103 9125908  1.0     NaN     NaN
                            030402010401 9169724  0.0     NaN     NaN
                            030402030403 9129936  0.0     NaN     NaN
                            030402040303 9108736  0.0     NaN     NaN
                            030402040505 9114230  0.0     NaN     NaN
                            030402010203 9165524  0.0     NaN     NaN
                            030402010806 9175110  0.0     NaN     NaN
                            030402031205 9134612  0.0     NaN     NaN
                            030402010902 9174894  0.0     NaN     NaN
                            030402030206 9129024  1.0     NaN     NaN
percina rex       y_train   030102040706 8741815  0.0     NaN     NaN
                            030101030902 8673081  0.0     NaN     NaN
                            030101030107 8678809  0.0     NaN     NaN
                            030101011504 8624739  0.0     NaN     NaN
                            030102040702 8741589  0.0     NaN     NaN
                            030101031001 8672215  0.0     NaN     NaN
                            030101030902 8673063  0.0     NaN     NaN
                            030102010402 8724077  0.0     NaN     NaN
                            030102010603 8723915  0.0     NaN     NaN
                            030101030803 8673525  0.0     NaN     NaN
                            030102010903 8725867  0.0     NaN     NaN
                            030101010802 8627091  0.0     NaN     NaN
                            030101010302 8628193  0.0     NaN     NaN

In [11]:
#agg_prediction_spec_df=agg_prediction_spec_df

In [12]:
yhat=agg_prediction_spec_df.drop('y_train',level='estimator').loc[:,agg_prediction_spec_df.columns!='y']

In [13]:
y=agg_prediction_spec_df.xs('y_train',level='estimator').loc[:,['y']]

In [14]:
y_a,yhat_a= y.align(yhat,axis=0)

In [15]:
diff=-1*yhat_a.sub(y_a['y'],axis=0)

In [16]:
diff

                                                                        yhat_0  \
species        HUC12        COMID    estimator
ameiurus melas 010802010501 6778513  logistic-reg                         -0.0
                                     linear-svc                           -0.0
               010802010503 6778573  logistic-reg                         -1.0
                                     linear-svc                           -0.0
               010802010602 6778961  logistic-reg                         -1.0
...                                                                        ...
zzzno fish     181002010205 22592131 logistic-reg                         -0.0
                                     linear-svc                            1.0
                                     rbf-svc                               1.0
                                     gradient-boosting-classifier          1.0
                                     hist-gradient-boosting-classifier     1.0

                                                                        yhat_1
species        HUC12        COMID    estimator
ameiurus melas 010802010501 6778513  logistic-reg                         -0.0
                                     linear-svc                           -0.0
               010802010503 6778573  logistic-reg                         -0.0
                                     linear-svc                           -0.0
               010802010602 6778961  logistic-reg                         -0.0
...                                                                        ...
zzzno fish     181002010205 22592131 logistic-reg                         -0.0
                                     linear-svc                           -0.0
                                     rbf-svc                              -0.0
                                     gradient-boosting-classifier         -0.0
                                     hist-gradient-boosting-classifier    -0.0

[538962 rows x 2 columns]

In [17]:
mean_prediction_err=diff.mean(axis=1).mean(level='HUC12')

In [18]:
err_df=mean_prediction_err.rename('err').reset_index().rename(columns={'HUC12':'huc12'})

In [19]:
err_df

              huc12       err
0      010802010501  0.000000
1      010802010503  0.033333
2      010802010602 -0.200000
3      010802010702 -0.100000
4      010802040402 -0.029412
...             ...       ...
11827  170402170604 -0.750000
11828  170402180402 -1.000000
11829  170402180403 -1.000000
11830  020801110204  0.100000
11831  181002010205  0.400000

[11832 rows x 2 columns]

In [20]:
mpr.h12_boundary.dtypes

AttributeError: 'Mapper' object has no attribute 'h12_boundary'

In [ ]:
err_geo_df=mpr.h12_boundary.merge(err_df,on='huc12')

In [ ]:

from mpl_toolkits.axes_grid1 import make_axes_locatable
fig=plt.figure(dpi=300,figsize=[10,8])
ax=fig.add_subplot(1,1,1)


divider = make_axes_locatable(ax)
cax = divider.append_axes("right", size="5%", pad=0.1)

err_geo_df.plot(column='err',ax=ax,cax=cax,legend=True,cmap='brg')#,legend_kwds={'orientation':'vertical'})

In [ ]:
fig.savefig('error_map3.png',facecolor='w',orientation='landscape')

In [ ]:
mpr.draw_huc12_truefalse()

In [ ]:
mpr.getHuc12Boundary()

In [ ]:
#fiona.listlayers(mpr.boundary_data_path)

In [ ]:
#g_df=gpd.read_file(mpr.boundary_data_path,layer='WBDHU12')

In [ ]:
fig=plt.figure(dpi=300,figsize=[10,14])
ax=fig.add_subplot(1,1,1)
mpr.h12_boundary.plot(ax=ax)

In [ ]:
mpr.h12_boundary.loc[:,'huc12']