In [1]:
import os ; os.getcwd()

'/home/dp/hdd4/kernelkernel'

In [2]:
from pi_data_predict import PiscesPredictDataTool

In [20]:
ppdt=PiscesPredictDataTool(cv_run=False)

In [21]:
huc_species_series_dict=ppdt.BuildBigSpeciesXPredictDF(species='percina kathae',estimator_name=None,hucdigitcount=4)

In [22]:
tdf=list(huc_species_series_dict.values())[0]
tdf

var                            y
rep_idx                        0
split_idx                      0
COMID     HUC12
10167780  051302060303  0.000000
10167782  051302060303  0.000000
10167786  051302060204  0.000000
10167788  051302060204  0.000000
10167790  051302060203  0.000000
...                          ...
935130082 051302050702  0.000000
935130083 051302050307  0.000000
935130084 051302050307  0.000000
935130085 051302050404  0.333333
935130086 051302050404  0.500000

[3660 rows x 1 columns]

In [23]:
list(ppdt.huc_ydf_dict.values())[0]

var                            y
rep_idx                        0
split_idx                      0
COMID     HUC12
10167780  051302060303  0.000000
10167782  051302060303  0.000000
10167786  051302060204  0.000000
10167788  051302060204  0.000000
10167790  051302060203  0.000000
...                          ...
935130082 051302050702  0.000000
935130083 051302050307  0.000000
935130084 051302050307  0.000000
935130085 051302050404  0.333333
935130086 051302050404  0.500000

[3660 rows x 1 columns]

In [7]:
ppdt.df_list[0].iloc[0].index

MultiIndex([('y', 0, 0),
            ('y', 0, 1),
            ('y', 0, 2),
            ('y', 0, 3),
            ('y', 0, 4),
            ('y', 1, 0),
            ('y', 1, 1),
            ('y', 1, 2),
            ('y', 1, 3),
            ('y', 1, 4),
            ('y', 2, 0),
            ('y', 2, 1),
            ('y', 2, 2),
            ('y', 2, 3),
            ('y', 2, 4),
            ('y', 3, 0),
            ('y', 3, 1),
            ('y', 3, 2),
            ('y', 3, 3),
            ('y', 3, 4),
            ('y', 4, 0),
            ('y', 4, 1),
            ('y', 4, 2),
            ('y', 4, 3),
            ('y', 4, 4),
            ('y', 5, 0),
            ('y', 5, 1),
            ('y', 5, 2),
            ('y', 5, 3),
            ('y', 5, 4),
            ('y', 6, 0),
            ('y', 6, 1),
            ('y', 6, 2),
            ('y', 6, 3),
            ('y', 6, 4),
            ('y', 7, 0),
            ('y', 7, 1),
            ('y', 7, 2),
            ('y', 7, 3),
            ('y', 7, 4),
            ('y', 8, 0),
            ('y', 8, 1),
            ('y', 8, 2),
            ('y', 8, 3),
            ('y', 8, 4),
            ('y', 9, 0),
            ('y', 9, 1),
            ('y', 9, 2),
            ('y', 9, 3),
            ('y', 9, 4)],
           names=['var', 'rep_idx', 'split_idx'])

In [8]:
[df.shape for df in ppdt.df_list]

[(97832, 50),
 (21671, 50),
 (97832, 50),
 (21671, 50),
 (97832, 50),
 (21671, 50),
 (97832, 50),
 (21671, 50),
 (97832, 50),
 (21671, 50),
 (97832, 50),
 (21671, 50)]

In [9]:
list(ppdt.huc_ylist_dict.values())[0][0]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [10]:
#df=ppdt.df_list[0]
comids=[df.index.get_level_values('COMID').to_list() for df in ppdt.df_list]
comids=[comid for comid_list in comids for comid in comid_list]
len(comids),len(set(comids))

(717018, 77578)

In [11]:
for df in ppdt.df_list:
    comids=df.index.get_level_values('COMID').to_list()
    print(len(comids),len(set(comids)))

97832 55907
21671 21671
97832 55907
21671 21671
97832 55907
21671 21671
97832 55907
21671 21671
97832 55907
21671 21671
97832 55907
21671 21671

In [12]:
import numpy as np
ser=tdf.copy()['y']
#cser=ser.copy()
cser=tdf.copy()
cser[:]='missing'
cser.loc[ser>=0.5]='present'
cser.loc[ser<0.5]='absent'
pser=cser.loc[ser>=0.5]
aser=cser.loc[ser<0.5]
mser=cser.loc[cser['y']=='missing']

In [13]:
aser,pser,mser

(                             y
 COMID     HUC12
 10167780  051302060303  absent
 10167782  051302060303  absent
 10167786  051302060204  absent
 10167788  051302060204  absent
 10167790  051302060203  absent
 ...                        ...
 935130082 051302050702  absent
 935130083 051302050307  absent
 935130084 051302050307  absent
 935130085 051302050404  absent
 935130086 051302050404  absent

 [3659 rows x 1 columns],
                              y
 COMID    HUC12
 11884398 051302050402  present,
 Empty DataFrame
 Columns: [y]
 Index: [])

In [14]:
pser_idx=[tup[0] for tup in pser.index.to_list()]
doubles=[idx  for idx in aser.index.to_list() if idx[0] in pser_idx]
aser.loc[doubles],pser.loc[doubles]

(Empty DataFrame
 Columns: [y]
 Index: [],
 Empty DataFrame
 Columns: [y]
 Index: [])

In [15]:
all_comids=tdf.index.get_level_values('COMID').to_list()
len(all_comids)

3660

In [16]:
len(set(all_comids))

3660

In [17]:
21960/3660

6.0

In [18]:
comids,_=zip(*doubles)

ValueError: not enough values to unpack (expected 2, got 0)

In [ ]:
len(set(list(comids)))

In [ ]:
cser[ser.values>=0.5]

In [ ]:
cser[ser.values<0.5]

In [ ]:
tdf[(tdf.values>0) & (tdf.values>0.1)]

In [ ]:
for c_hash,df in ppdt.XpredictSpeciesResults('percina kathae','fc15607cd67d34ad05797a87419e9128').items():
    df_i=df
    print(df)
    break

In [ ]:
df_i.index.names.index('HUC12')

In [ ]:
#view an example of the data storage for xpredict with comids broken into chunks of 100k

In [ ]:
hash_id_list=ppdt.XpredictHashIDComidHashResultsDB(hash_id=None)
len(hash_id_list)

In [ ]:
idx=2
key1=list(ppdt.XpredictHashIDComidHashResultsDB(hash_id=hash_id_list[idx]).keys())[0]

In [ ]:
df=ppdt.XpredictHashIDComidHashResultsDB(hash_id=hash_id_list[idx])[key1]

In [ ]:
df.memory_usage(deep=True).sum()

In [ ]:
df.astype('int64').memory_usage(deep=True).sum()

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
print(df.shape)
df.head()

In [ ]:
-

In [ ]:
#ppdt.getSpeciesHuc8List('umbra limi')

In [ ]:
hash_ids_in_Xresults=ppdt.XpredictHashIDComidHashResultsDB(hash_id=None)

In [ ]:
spec_idx=2000

In [ ]:
print(hash_ids_in_Xresults[spec_idx])
db=ppdt.XpredictHashIDComidHashResultsDB(hash_id=hash_ids_in_Xresults[spec_idx])

In [ ]:
len(list(db.keys()))

In [ ]:
db[list(db.keys())[0]]

In [ ]:
db

In [ ]:
sdb=ppdt.XpredictSpeciesResults('percina kathae',hash_ids_in_Xresults[spec_idx])

In [ ]:
sdb[list(sdb.keys())[0]]

In [ ]:
-

In [ ]:
#ppdt.generateXPredictSpeciesComidBlockDicts() # run once

In [ ]:
c_hash_block_db=ppdt.c_hash_block_db()

In [ ]:
keys=list(c_hash_block_db.keys())
print(len(keys))
keys[:5]

In [ ]:
for hash_key,c_list in c_hash_block_db[keys[0]].items():
    print(len(c_list))

In [ ]:
assert False, 'old approach below'

In [ ]:
#db=ppdt.comidsiteinfo_db()
#len(db)

In [ ]:
#speclist=ppdt.getXdb()

In [ ]:
ppdt.generateXPredictData(spec_list=None,rebuild=True)